{{ ansible_managed | comment }}

{% if item.upstreams is defined %}
{% from 'http/upstream.j2' import upstream with context %}
{{ upstream(item.upstreams) }}
{% endif %}
{% if item.proxy_cache_path is defined %}
{% from 'http/proxy.j2' import proxy_cache_path with context %}
{{ proxy_cache_path(item.proxy_cache_path) }}
{% endif %}
{% if item.proxy is defined %}
{% from 'http/proxy.j2' import proxy with context %}
{{ proxy(item.proxy) }}
{% endif %}
{% if item.ssl is defined %}
{% from 'http/ssl.j2' import ssl with context %}
{{ ssl(item.ssl) }}
{% endif %}

{% if item.auth_request_http is defined %}
auth_request {{ item.auth_request_http }};
{% endif %}
{% if item.auth_request_set_http is defined %}
auth_request_set {{ item.auth_request_set_http.name }} {{ item.auth_request_set_http.value }};
{% endif %}

{% if item.custom_options is defined and item.custom_options | length %}
{% for inline_option in item.custom_options %}
{{ inline_option }}
{% endfor %}
{% endif %}

{% if item.servers is defined %}
{% for server in item.servers %}
server {
{% for listen in (server.listen | rejectattr("ip", "defined") | sort(attribute='port') + server.listen | rejectattr("ip", "undefined") | sort(attribute='port') | sort(attribute='ip')) %}
    listen {% if listen.ip is defined and listen.ip | length %}{{ listen.ip }}:{% endif %}{{ listen.port }}{% if listen.ssl is defined and listen.ssl %} ssl{% endif %}{% if listen.opts is defined and listen.opts | length %} {{ listen.opts | join(" ") }}{% endif %};
{% endfor %}
    server_name {{ server.server_name | default('localhost') }};
{% if server.ssl is defined %}
{% from 'http/ssl.j2' import ssl with context %}
{% filter indent(4) %}
    {{ ssl(server.ssl) }}
{% endfilter %}
{% endif %}
{% if server.app_protect is defined %}
{% from 'http/app_protect_waf.j2' import app_protect_waf_local with context %}
{% filter indent(4) %}
    {{ app_protect_waf_local(server.app_protect) }}
{% endfilter %}
{% endif %}
{% if server.app_protect_dos is defined %}
{% from 'http/app_protect_dos.j2' import app_protect_dos_local with context %}
{% filter indent(4) %}
    {{ app_protect_dos_local(server.app_protect_dos) }}
{% endfilter %}
{% endif %}
{% if server.grpc_global is defined %}
{% from 'http/grpc.j2' import grpc_global with context %}
{% filter indent(4) %}
    {{ grpc_global(server.grpc_global) }}
{% endfilter %}
{% endif %}
{% if server.gzip is defined %}
{% from 'http/gzip.j2' import gzip with context %}
{% filter indent(4) %}
    {{ gzip(server.gzip) }}
{% endfilter %}
{% endif %}
{% if server.proxy is defined %}
{% from 'http/proxy.j2' import proxy with context %}
{% filter indent(4) %}
    {{ proxy(server.proxy) }}
{% endfilter %}
{% endif %}
{% if server.include_files is defined and server.include_files | length %}
{% for file in server.include_files %}
    include "{{ file }}";
{% endfor %}
{% endif %}
{% if server.add_headers is defined %}
{% for header in server.add_headers %}
    add_header {{ server.add_headers[header].name }} "{{ server.add_headers[header].value }}"{% if server.add_headers[header].always is defined and server.add_headers[header].always %} always{% endif %};
{% endfor %}
{% endif %}
{% if server.auth_basic is defined %}
    auth_basic "{{ server.auth_basic }}";
{% endif %}
{% if server.auth_basic_user_file is defined %}
    auth_basic_user_file {{ server.auth_basic_user_file }};
{% endif %}
{% if server.root is defined %}
    root {{ server.root }};
{% endif %}
{% if server.index is defined %}
    index {{ server.index }};
{% endif %}
{% if server.https_redirect is defined %}
    return 301 https://{{ server.https_redirect }}$request_uri;
{% endif %}
{% if server.autoindex is defined and server.autoindex %}
    autoindex on;
{% endif %}
{% if server.try_files is defined %}
    try_files {{ server.try_files }};
{% endif %}
{% if server.auth_request is defined %}
    auth_request {{ server.auth_request }};
{% endif %}
{% if server.auth_request_set is defined %}
    auth_request_set {{ server.auth_request_set.name }} {{ server.auth_request_set.value }};
{% endif %}
{% if server.client_max_body_size is defined %}
    client_max_body_size {{ server.client_max_body_size }};
{% endif %}
{% if server.sub_filter.sub_filters is defined and server.sub_filter.sub_filters | length %}
{% for sub_filter in server.sub_filter.sub_filters %}
    sub_filter {{ sub_filter }};
{% endfor %}
{% endif %}
{% if server.sub_filter.last_modified is defined %}
    sub_filter_last_modified  {{ server.sub_filter.last_modified | ternary("on", "off") }};
{% endif %}
{% if server.sub_filter.once is defined %}
    sub_filter_once {{ server.sub_filter.once | ternary("on", "off") }};
{% endif %}
{% if server.sub_filter.types is defined %}
    sub_filter_types {{ server.sub_filter.types }};
{% endif %}
{% if server.custom_options is defined and server.custom_options | length %}
{% for inline_option in server.custom_options %}
    {{ inline_option }}
{% endfor %}
{% endif %}
{% if server.locations is defined %}
{% for location in server.locations %}
    location {{ location.location }} {
{% if location.internal is sameas true %}
        internal;
{% endif %}
{% if location.app_protect is defined %}
{% from 'http/app_protect_waf.j2' import app_protect_waf_local with context %}
{% filter indent(8) %}
        {{ app_protect_waf_local(location.app_protect) }}
{% endfilter %}
{% endif %}
{% if location.app_protect_dos is defined %}
{% from 'http/app_protect_dos.j2' import app_protect_dos_local with context %}
{% filter indent(8) %}
        {{ app_protect_dos_local(location.app_protect_dos) }}
{% endfilter %}
{% endif %}
{% if location.grpc_global is defined %}
{% from 'http/grpc.j2' import grpc_global with context %}
{% filter indent(8) %}
        {{ grpc_global(location.grpc_global) }}
{% endfilter %}
{% endif %}
{% if location.grpc is defined %}
{% from 'http/grpc.j2' import grpc_local with context %}
{% filter indent(8) %}
        {{ grpc_local(location.grpc) }}
{% endfilter %}
{% endif %}
{% if location.gzip is defined %}
{% from 'http/gzip.j2' import gzip with context %}
{% filter indent(8) %}
        {{ gzip(location.gzip) }}
{% endfilter %}
{% endif %}
{% if location.proxy is defined %}
{% from 'http/proxy.j2' import proxy with context %}
{% filter indent(8) %}
        {{ proxy(location.proxy) }}
{% endfilter %}
{% endif %}
{% if location.proxy_pass is defined %}
{% from 'http/proxy.j2' import proxy_pass with context %}
{% filter indent(8) %}
        {{ proxy_pass(location.proxy_pass) }}
{% endfilter %}
{% endif %}
{% if location.root is defined %}
        root   {{ location.root }};
{% endif %}
{% if location.index is defined %}
        index  {{ location.index }};
{% endif %}
{% if location.autoindex | default(false) %}
        autoindex on;
{% endif %}
{% if location.include_files is defined and location.include_files | length %}
{% for file in location.include_files %}
        include "{{ file }}";
{% endfor %}
{% endif %}
{% if location.add_headers is defined %}
{% for header in location.add_headers %}
        add_header {{ location.add_headers[header].name }} "{{ location.add_headers[header].value }}"{% if location.add_headers[header].always is defined and location.add_headers[header].always %} always{% endif %};
{% endfor %}
{% endif %}
{% if location.auth_request is defined %}
        auth_request {{ location.auth_request }};
{% endif %}
{% if location.auth_request_set is defined %}
        auth_request_set {{ location.auth_request_set.name }} {{ location.auth_request_set.value }};
{% endif %}
{% if location.auth_basic is defined %}
        auth_basic "{{ location.auth_basic }}";
{% endif %}
{% if location.auth_basic_user_file is defined %}
        auth_basic_user_file {{ location.auth_basic_user_file }};
{% endif %}
{% if location.returns is defined %}
{% for code in location.returns %}
{% if location.returns[code] is defined %}
        return {{ location.returns[code].code }} {{ location.returns[code].url }};
{% else %}
        return {{ location.returns[code].url }};
{% endif %}
{% endfor %}
{% endif %}
{% if location.rewrites is defined %}
{% for rewrite in location.rewrites %}
        rewrite {{ rewrite }};
{% endfor %}
{% endif %}
{% if location.allows is defined %}
{% for allow in location.allows %}
        allow {{ allow }};
{% endfor %}
{% endif %}
{% if location.denies is defined %}
{% for deny in location.denies %}
        deny {{ deny }};
{% endfor %}
{% endif %}
{% if location.try_files is defined %}
        try_files {{ location.try_files }};
{% endif %}
{% if location.client_max_body_size is defined %}
        client_max_body_size {{ location.client_max_body_size }};
{% endif %}
{% if location.sub_filter.sub_filters is defined and location.sub_filter.sub_filters | length %}
{% for sub_filter in location.sub_filter.sub_filters %}
        sub_filter {{ sub_filter }};
{% endfor %}
{% endif %}
{% if location.sub_filter.last_modified is defined %}
        sub_filter_last_modified  {{ location.sub_filter.last_modified | ternary("on", "off") }};
{% endif %}
{% if location.sub_filter.once is defined %}
        sub_filter_once {{ location.sub_filter.once | ternary("on", "off") }};
{% endif %}
{% if location.sub_filter.types is defined %}
        sub_filter_types {{ location.sub_filter.types }};
{% endif %}
{% if location.custom_options is defined and location.custom_options | length %}
{% for inline_option in location.custom_options %}
        {{ inline_option }}
{% endfor %}
{% endif %}
{% if server.health_check_plus is defined %}
        health_check;
{% endif %}
    }
{% endfor %}
{% if server.http_demo_conf is defined and server.http_demo_conf %}
    sub_filter_once off;
    sub_filter 'server_hostname' '$hostname';
    sub_filter 'server_address' '$server_addr:$server_port';
    sub_filter 'server_url' '$request_uri';
    sub_filter 'remote_addr' '$remote_addr:$remote_port';
    sub_filter 'server_date' '$time_local';
    sub_filter 'client_browser' '$http_user_agent';
    sub_filter 'request_id' '$request_id';
    sub_filter 'nginx_version' '$nginx_version';
    sub_filter 'document_root' '$document_root';
    sub_filter 'proxied_for_ip' '$http_x_forwarded_for';
{% endif %}
{% endif %}
{% if server.returns is defined %}
{% for return in server.returns %}
    location {{ server.returns[return].location }} {
        return {{ server.returns[return].code }}{% if server.returns[return].value is defined %} {{ server.returns[return].value }}{% endif %};
    }
{% endfor %}
{% endif %}
{% if server.http_error_pages is defined %}
    # redirect server error pages
{% for error_code in server.http_error_pages %}
    error_page {{ error_code }} {{ server.http_error_pages[error_code] }};
{% endfor %}
{% endif %}
{% if server.error_page is defined %}
    # redirect server error pages to the static page /50x.html
    #
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   {{ server.error_page }};
    }
{% endif %}
{% if server.access_log is defined %}
{% if server.access_log is sameas false or server.access_log == "off" %}
    access_log off;
{% else %}
{% for access_log in server.access_log %}
    access_log  {{ access_log.location }}  {{ access_log.name }};
{% endfor %}
{% endif %}
{% endif %}
{% if server.error_log is defined %}
    error_log {{ server.error_log.location }} {{ server.error_log.level }};
{% endif %}
}
{% endfor %}
{% endif %}
