{{ ansible_managed | comment }}

server {
    listen {{ nginx_config_status_port | default('8080') }};
{% if nginx_config_status_access_log is defined and not nginx_config_status_access_log %}
    access_log off;
{% elif nginx_config_status_access_log is defined and nginx_config_status_access_log is mapping %}
    access_log {{ nginx_config_status_access_log.location }} {{ nginx_config_status_access_log.name }};
{% endif %}
    location /nginx_status {
        stub_status on;
    }
{% if nginx_config_status_allow is defined %}
{% for address in nginx_config_status_allow %}
        allow {{ address }};
{% endfor %}
{% endif %}
{% if nginx_config_status_allow is defined %}
{% for address in nginx_config_status_allow %}
        deny {{ address }};
{% endfor %}
{% endif %}
}
