{{ ansible_managed | comment }}

{# NGINX HTTP Upstream template -- ngx_http_upstream_module #}
{% macro upstream(upstreams) %}
{% for upstream in upstreams %}
{% if upstream['name'] is defined %}
upstream {{ upstream['name'] }} {
{% if upstream['servers'] is defined %}
{% for server in upstream['servers'] %}
{% if server['address'] is defined %}
    server {{ server['address'] -}}
    {{- (' weight=' + server['weight'] | string) if server['weight'] is defined and server['weight'] is number -}}
    {{- (' max_conns=' + server['max_conns'] | string) if server['max_conns'] is defined and server['max_conns'] is number -}}
    {{- (' max_fails=' + server['max_fails'] | string) if server['max_fails'] is defined and server['max_fails'] is number -}}
    {{- (' fail_timeout=' + server['fail_timeout'] | string) if server['fail_timeout'] is defined -}}
    {{- ' backup' if server['backup'] is defined and server['backup'] is boolean and server['backup'] | bool -}}
    {{- ' down' if server['down'] is defined and server['down'] is boolean and server['down'] | bool -}}
    {{- ' resolve' if server['resolve'] is defined and server['resolve'] is boolean and server['resolve'] | bool -}}
    {{- (' route=' + server['route'] | string) if server['route'] is defined -}}
    {{- (' service=' + server['service'] | string) if server['service'] is defined -}}
    {{- (' slow_start=' + server['slow_start'] | string) if server['slow_start'] is defined -}}
    {{- ' drain' if server['drain'] is defined and server['drain'] is boolean and server['drain'] | bool }};
{% endif %}
{% endfor %}
{% endif %}
{% if upstream['zone']['name'] is defined %}
    zone {{ upstream['zone']['name'] }}{{ (' ' + upstream['zone']['size'] | string) if upstream['zone']['size'] is defined }};
{% endif %}
{% if upstream['state'] is defined %}
    state {{ upstream['state'] }};
{% endif %}
{% if upstream['hash']['key'] is defined %}
    hash {{ upstream['hash']['key'] }}{{ ' consistent' if upstream['hash']['consistent'] is defined and upstream['hash']['consistent'] is boolean and upstream['hash']['consistent'] | bool }};
{% elif upstream['ip_hash'] is defined and upstream['ip_hash'] is boolean %}
    ip_hash;
{% elif upstream['least_conn'] is defined and upstream['least_conn'] is boolean %}
    least_conn;
{% elif upstream['least_time']['response'] is defined  %}
    least_time {{ upstream['least_time']['response'] }}{{ ' inflight' if upstream['least_time']['inflight'] is defined and upstream['least_time']['inflight'] is boolean and upstream['least_time']['inflight'] | bool }};
{% elif upstream['random'] is defined %}
    random {{ 'two' if upstream['random']['two'] is defined and upstream['random']['two'] is boolean }}{{ (' ' + upstream['random']['method'] | string) if upstream['random']['method'] is defined }};
{% endif %}
{% if upstream['queue']['number'] is defined %}
    queue {{ upstream['queue']['number'] if upstream['queue']['number'] is number }}{{ (' timeout=' + upstream['queue']['timeout'] | string) if upstream['queue']['timeout'] is defined }};
{% endif %}
{% if upstream['keepalive'] is defined and upstream['keepalive'] is number %}
    keepalive {{ upstream['keepalive'] }};
{% endif %}
{% if upstream['keepalive_requests'] is defined and upstream['keepalive_requests'] is number %}
    keepalive_requests {{ upstream['keepalive_requests'] }};
{% endif %}
{% if upstream['keepalive_time'] is defined %}
    keepalive_time {{ upstream['keepalive_time'] }};
{% endif %}
{% if upstream['keepalive_timeout'] is defined %}
    keepalive_timeout {{ upstream['keepalive_timeout'] }};
{% endif %}
{% if upstream['ntlm'] is defined and upstream['ntlm'] is boolean and upstream['ntlm'] | bool %}
    ntlm;
{% endif %}
{% if upstream['resolver']['address'] is defined %}
    resolver {{ upstream['resolver']['address'] if upstream['resolver']['address'] is string else upstream['resolver']['address'] | join(' ') -}}
    {{- (' valid=' + upstream['resolver']['valid'] | string) if upstream['resolver']['valid'] is defined -}}
    {{- (' ipv6=' + upstream['resolver']['ipv6'] | ternary('on', 'off')) if upstream['resolver']['ipv6'] is defined and upstream['resolver']['ipv6'] is boolean -}}
    {{- (' status_zone=' + upstream['resolver']['status_zone'] | string) if upstream['resolver']['status_zone'] is defined }};
{% endif %}
{% if upstream['resolver_timeout'] is defined %}
    resolver_timeout {{ upstream['resolver_timeout'] }};
{% endif %}
{% if upstream['sticky_cookie']['name'] is defined %}
    sticky cookie {{ upstream['sticky_cookie']['name'] -}}
    {{- (' expires=' + upstream['sticky_cookie']['expires'] | string) if upstream['sticky_cookie']['expires'] is defined -}}
    {{- (' domain=' + upstream['sticky_cookie']['domain'] | string) if upstream['sticky_cookie']['domain'] is defined -}}
    {{- ' httponly' if upstream['sticky_cookie']['httponly'] is defined and upstream['sticky_cookie']['httponly'] is boolean and upstream['sticky_cookie']['httponly'] | bool -}}
    {{- (' samesite=' + upstream['sticky_cookie']['samesite'] | string) if upstream['sticky_cookie']['samesite'] is defined and upstream['sticky_cookie']['samesite'] in ['strict', 'lax', 'none'] -}}
    {{- ' secure' if upstream['sticky_cookie']['secure'] is defined and upstream['sticky_cookie']['secure'] is boolean and upstream['sticky_cookie']['secure'] | bool -}}
    {{- (' path=' + upstream['sticky_cookie']['path'] | string) if upstream['sticky_cookie']['path'] is defined }};
{% elif upstream['sticky_route'] is defined %}
    sticky route {{ upstream['sticky_route'] if upstream['sticky_route'] is string else upstream['sticky_route'] | join(' ') }};
{% elif upstream['sticky_learn'] is defined %}
    sticky learn {{ ('create=' + upstream['sticky_learn']['create'] | string) if upstream['sticky_learn']['create'] is string else ('create=' + upstream['sticky_learn']['create'] | join(' create=')) -}}
    {{- (' lookup=' + upstream['sticky_learn']['lookup'] | string) if upstream['sticky_learn']['lookup'] is string else (' lookup=' + upstream['sticky_learn']['lookup'] | join(' lookup=')) -}}
    {{- ' zone=' + upstream['sticky_learn']['zone']['name'] | string + ':' + upstream['sticky_learn']['zone']['size'] | string -}}
    {{- (' timeout=' + upstream['sticky_learn']['timeout'] | string) if upstream['sticky_learn']['timeout'] is defined -}}
    {{- ' header' if upstream['sticky_learn']['header'] is defined and upstream['sticky_learn']['header'] is boolean and upstream['sticky_learn']['header'] | bool -}}
    {{- ' sync' if upstream['sticky_learn']['sync'] is defined and upstream['sticky_learn']['sync'] is boolean and upstream['sticky_learn']['sync'] | bool }};
{% endif %}
}
{% endif %}
{% endfor %}

{% endmacro %}
