{{ ansible_managed | comment }}

{% if item['config']['upstreams'] is defined %}
{% from 'stream/upstream.j2' import upstream with context %}
{{ upstream(item['config']['upstreams']) }}
{%- endif %}
{% if item['config']['core'] is defined %}
{% from 'stream/core.j2' import core with context %}
{{ core(item['config']['core']) }}
{%- endif %}
{% if item['config']['ssl'] is defined %}
{% from 'stream/ssl.j2' import ssl with context %}
{{ ssl(item['config']['ssl']) }}
{%- endif %}
{% if item['config']['proxy'] is defined %}
{% from 'stream/proxy.j2' import proxy with context %}
{{ proxy(item['config']['proxy']) }}
{%- endif %}
{% if item['config']['health_check'] is defined %}
{% from 'stream/modules.j2' import health_check with context %}
{{ health_check(item['config']['health_check']) }}
{%- endif %}
{% if item['config']['keyval'] is defined %}
{% from 'stream/modules.j2' import keyval with context %}
{{ keyval(item['config']['keyval']) }}
{%- endif %}
{% if item['config']['log'] is defined %}
{% from 'stream/modules.j2' import log with context %}
{{ log(item['config']['log']) }}
{%- endif %}
{% if item['config']['custom_directives'] is defined and item['config']['custom_directives'] is not mapping %}
{% for directive in item['config']['custom_directives'] if item['config']['custom_directives'] is not string %}
{{ directive }}
{% else %}
{{ item['config']['custom_directives'] }}
{% endfor %}
{% endif %}
{% if item['config']['servers'] is defined %}
{% for server in item['config']['servers'] %}
server {
{% if server['core'] is defined %}
{% from 'stream/core.j2' import core with context %}
{% filter indent(4) %}
    {{ core(server['core']) }}
{%- endfilter %}
{% endif %}
{% if server['ssl'] is defined %}
{% from 'stream/ssl.j2' import ssl with context %}
{% filter indent(4) %}
    {{ ssl(server['ssl']) }}
{%- endfilter %}
{% endif %}
{% if server['proxy'] is defined %}
{% from 'stream/proxy.j2' import proxy with context %}
{% filter indent(4) %}
    {{ proxy(server['proxy']) }}
{%- endfilter %}
{% endif %}
{% if server['health_check'] is defined %}
{% from 'stream/modules.j2' import health_check with context %}
{% filter indent(4) %}
    {{ health_check(server['health_check']) }}
{%- endfilter %}
{% endif %}
{% if server['keyval'] is defined %}
{% from 'stream/modules.j2' import keyval with context %}
{% filter indent(4) %}
    {{ keyval(server['keyval']) }}
{%- endfilter %}
{% endif %}
{% if server['log'] is defined %}
{% from 'stream/modules.j2' import log with context %}
{% filter indent(4) %}
    {{ log(server['log']) }}
{%- endfilter %}
{%- endif %}
{% if server['custom_directives'] is defined and server['custom_directives'] is not mapping %}
{% for directive in server['custom_directives'] if server['custom_directives'] is not string %}
{% filter indent(4) %}
    {{ directive }}
{% endfilter %}
{% else %}
    {{ server['custom_directives'] }}
{% endfor %}
{% endif %}
}
{% endfor %}
{% endif %}
