{{ ansible_managed | comment }}

{% if nginx_config_main_template['config']['main'] is defined %}
{% from 'core.j2' import main with context %}
{{ main(nginx_config_main_template['config']['main']) }}
{%- endif %}

events {
{% if nginx_config_main_template['config']['events'] is defined %}
{% from 'core.j2' import events with context %}
{% filter indent(4) %}
    {{ events(nginx_config_main_template['config']['events']) }}
{%- endfilter %}
{% endif %}
}

{% if nginx_config_main_template['config']['http'] is defined %}
http {
{% if nginx_config_main_template['config']['http']['include'] is defined and nginx_config_main_template['config']['http']['include'] is not mapping %}
{% for file in nginx_config_main_template['config']['http']['include'] if nginx_config_main_template['config']['http']['include'] is not string %}
    include {{ file }};
{% else %}
    include {{ nginx_config_main_template['config']['http']['include'] }};
{% endfor %}
{% endif %}
}
{% endif %}

{% if nginx_config_main_template['config']['stream'] is defined %}
stream {
{% if nginx_config_main_template['config']['stream']['include'] is defined and nginx_config_main_template['config']['stream']['include'] is not mapping %}
{% for file in nginx_config_main_template['config']['stream']['include'] if nginx_config_main_template['config']['stream']['include'] is not string %}
    include {{ file }};
{% else %}
    include {{ nginx_config_main_template['config']['stream']['include'] }};
{% endfor %}
{% endif %}
}
{% endif %}
